{{#with reportsInfo}}
<section class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" style="background-color:#EEEEEE;">
    <img class="me-3" src="/images/Lupa.png" alt="" width="48" height="38" 🔎>
    <div class="lh-1">
      <h1 style="color:black;">Pet Reports - {{userPrivileges}}</h1> 
    </div>
  </div>

  <div>
    <form action="/pet/pet-reports">
      <select class="form-select" aria-label="Your pets select" name="filter">
        <option value="0" selected>Mostrar todos los reportes</option>
        <option value="1">Lost</option>
        <option value="2">Found but not with its owner</option>
        <option value="3">With its owner</option>
      </select>
      <a href="."></a><button type="submit" class="btn btn-primary">Filter</button></a>
    </form>
  </div>

  <script>
    let map
    let marker
  </script>

  <div class="my-3 p-3 rounded shadow-sm d-flex flex-column align-items-center" id="reports-container" >
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    <div class="d-flex flex-wrap justify-content-center">
      {{#each reportsFiltered}}
      <div class="d-flex pt-3">
        <img width="32" height="32" src="{{petPicture}}"></img>
        <div id="map{{lat}}{{lng}}" class="map"></div>
        <div class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">{{userId.username}}</strong>
          <p>Pet Name: {{petName}}</p>
          <p>Pet Situation: {{situation}}</p>
          <p>Status: {{foundStatus}}</p>
          <p>Date of Report: {{Date date}}</p>
          {{#if ../../userInSession}}
          <a href="/user/edit-report/{{_id}}" class="btn btn-primary">Edit</a>
          <form class="d-inline" action="/user/delete-report/{{_id}}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

          <script>
          
          map = L.map('map' + {{lat}}+''+{{lng}}).setView([{{lat}},{{lng}}], 13);
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '© OpenStreetMap'
          }).addTo(map);
          marker = L.marker([{{lat}},{{lng}}]).addTo(map);
          </script>

          
          {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/with}}



