{{#with userWithPets}}
<section style="background-color: #eee;">

{{#if pets}}
<div class="container py-5" >
  <div class="row" style="margin-top: 120px">
    {{#each pets}}
  
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src={{petPic}} alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
            <h5 class="my-3">{{petName}}</h5>
            <div class="d-flex justify-content-center mb-2">
              <a href="/pet/pet-profile/{{_id}}"><button type="button" class="btn btn-primary">View details</button></a>
            </div>
            <form class="d-inline" action="/user/delete-pet/{{_id}}" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
   
    {{/each}}  
  </div>
 </div>

 {{else}}
  <div class="container py-5" >
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3">You have not registered pet yet 😔</h5>
            <div class="d-flex justify-content-center mb-2">
              <a href="/pet/pet-signup"><button type="button" class="btn btn-primary">Register</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
{{/if}}







 </section>
{{/with}}
